In [1]:
import pandas as pd
import os

# Define the directory path
directory_path = '/Users/merryxmm7/Documents/GitHub/Final_Project_Ironhack/Premier_league_predictor/'

# Define the list of file names
file_names = [ 'PL_18_19.csv', 'PL_19_20.csv', 'PL_20_21.csv', 'PL_21_22.csv',
    'PL_22_23.csv', 'PL_23_24.csv'
]

# Combine directory path with file names to get full file paths
file_paths = [os.path.join(directory_path, file_name) for file_name in file_names]

In [2]:
# Initialize a dictionary to hold the DataFrames
season = {}

# Loop through each file path and load the CSV into a DataFrame
for file_path in file_paths:
    # Get the base name of the file (without the directory and extension)
    base_name = os.path.basename(file_path).split('.')[0]
    # Load the CSV file into a DataFrame
    season[base_name] = pd.read_csv(file_path)

In [3]:
all_seasons = pd.concat(season.values(), ignore_index=True)
all_seasons["AwayTeam"].value_counts()

AwayTeam
Man United          114
Crystal Palace      114
Chelsea             114
Tottenham           114
Brighton            114
Everton             114
Man City            114
West Ham            114
Newcastle           114
Arsenal             114
Wolves              114
Liverpool           114
Leicester            95
Burnley              95
Southampton          95
Aston Villa          95
Fulham               76
Bournemouth          76
Watford              57
Sheffield United     57
Leeds                57
Brentford            57
Norwich              38
Nott'm Forest        38
Huddersfield         19
Cardiff              19
West Brom            19
Luton                19
Name: count, dtype: int64

In [4]:
import pandas as pd

# Assuming all_seasons and df are already defined as before

# Create a mapping dictionary from df
team_name_mapping = {
    'Bournemouth': 'AFC Bournemouth',
    'Arsenal': 'Arsenal FC',
    'Aston Villa': 'Aston Villa',
    'Brentford': 'Brentford FC',
    'Brighton': 'Brighton & Hove Albion',
    'Burnley': 'Burnley FC',
    'Cardiff': 'Cardiff City',
    'Chelsea': 'Chelsea FC',
    'Crystal Palace': 'Crystal Palace',
    'Everton': 'Everton FC',
    'Fulham': 'Fulham FC',
    'Huddersfield': 'Huddersfield Town',
    'Hull': 'Hull City',
    'Leeds': 'Leeds United',
    'Leicester': 'Leicester City',
    'Liverpool': 'Liverpool FC',
    'Luton': 'Luton Town',
    'Man City': 'Manchester City',
    'Man United': 'Manchester United',
    'Middlesbrough': 'Middlesbrough FC',
    'Newcastle': 'Newcastle United',
    'Norwich': 'Norwich City',
    'Nott\'m Forest': 'Nottingham Forest',
    'QPR': 'Queens Park Rangers',
    'Sheffield United': 'Sheffield United',
    'Southampton': 'Southampton FC',
    'Stoke': 'Stoke City',
    'Sunderland': 'Sunderland AFC',
    'Swansea': 'Swansea City',
    'Tottenham': 'Tottenham Hotspur',
    'Watford': 'Watford FC',
    'West Brom': 'West Bromwich Albion',
    'West Ham': 'West Ham United',
    'Wolves': 'Wolverhampton Wanderers'
}

# Check if the 'HomeTeam' and 'AwayTeam' columns exist and replace values
if 'HomeTeam' in all_seasons.columns:
    all_seasons['HomeTeam'] = all_seasons['HomeTeam'].replace(team_name_mapping)
    
if 'AwayTeam' in all_seasons.columns:
    all_seasons['AwayTeam'] = all_seasons['AwayTeam'].replace(team_name_mapping)

# Verify the replacements
print(all_seasons['HomeTeam'].value_counts().sort_index())
print(all_seasons['AwayTeam'].value_counts().sort_index())

HomeTeam
AFC Bournemouth             76
Arsenal FC                 114
Aston Villa                 95
Brentford FC                57
Brighton & Hove Albion     114
Burnley FC                  95
Cardiff City                19
Chelsea FC                 114
Crystal Palace             114
Everton FC                 114
Fulham FC                   76
Huddersfield Town           19
Leeds United                57
Leicester City              95
Liverpool FC               114
Luton Town                  19
Manchester City            114
Manchester United          114
Newcastle United           114
Norwich City                38
Nottingham Forest           38
Sheffield United            57
Southampton FC              95
Tottenham Hotspur          114
Watford FC                  57
West Bromwich Albion        19
West Ham United            114
Wolverhampton Wanderers    114
Name: count, dtype: int64
AwayTeam
AFC Bournemouth             76
Arsenal FC                 114
Aston Villa                 95
Brentford FC                57
Brighton & Hove Albion     114
Burnley FC                  95
Cardiff City                19
Chelsea FC                 114
Crystal Palace             114
Everton FC                 114
Fulham FC                   76
Huddersfield Town           19
Leeds United                57
Leicester City              95
Liverpool FC               114
Luton Town                  19
Manchester City            114
Manchester United          114
Newcastle United           114
Norwich City                38
Nottingham Forest           38
Sheffield United            57
Southampton FC              95
Tottenham Hotspur          114
Watford FC                  57
West Bromwich Albion        19
West Ham United            114
Wolverhampton Wanderers    114
Name: count, dtype: int64

In [5]:
all_seasons

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,10/08/2018,Manchester United,Leicester City,2,1,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/2018,AFC Bournemouth,Cardiff City,2,0,H,1,0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/2018,Fulham FC,Crystal Palace,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/2018,Huddersfield Town,Chelsea FC,0,3,A,0,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/2018,Newcastle United,Tottenham Hotspur,1,2,A,1,2,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,E0,19/05/2024,Crystal Palace,Aston Villa,5,0,H,2,0,H,...,2.78,-0.75,1.73,2.08,1.78,2.16,1.93,2.21,1.81,2.05
2276,E0,19/05/2024,Liverpool FC,Wolverhampton Wanderers,2,0,H,2,0,H,...,5.17,-2.75,2.07,1.86,2.04,1.85,2.10,1.89,2.04,1.82
2277,E0,19/05/2024,Luton Town,Fulham FC,2,4,A,1,2,A,...,2.69,0.25,2.00,1.93,1.99,1.93,2.02,1.94,1.96,1.91
2278,E0,19/05/2024,Manchester City,West Ham United,3,1,H,2,1,H,...,4.82,-3.00,2.03,1.90,1.99,1.90,2.05,1.99,1.96,1.91
2279,E0,19/05/2024,Sheffield United,Tottenham Hotspur,0,3,A,0,1,A,...,3.81,1.50,2.06,1.87,2.05,1.88,2.08,1.89,2.01,1.86

In [6]:
away_team_counts = all_seasons['AwayTeam'].value_counts().sort_index()
away_team_counts*2

AwayTeam
AFC Bournemouth            152
Arsenal FC                 228
Aston Villa                190
Brentford FC               114
Brighton & Hove Albion     228
Burnley FC                 190
Cardiff City                38
Chelsea FC                 228
Crystal Palace             228
Everton FC                 228
Fulham FC                  152
Huddersfield Town           38
Leeds United               114
Leicester City             190
Liverpool FC               228
Luton Town                  38
Manchester City            228
Manchester United          228
Newcastle United           228
Norwich City                76
Nottingham Forest           76
Sheffield United           114
Southampton FC             190
Tottenham Hotspur          228
Watford FC                 114
West Bromwich Albion        38
West Ham United            228
Wolverhampton Wanderers    228
Name: count, dtype: int64

In [7]:
all_seasons = all_seasons.iloc[:, :26]

In [8]:
all_seasons.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A'],
      dtype='object')

In [9]:
all_seasons = all_seasons.drop(columns=['Div'])
all_seasons

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,10/08/2018,Manchester United,Leicester City,2,1,H,1,0,H,A Marriner,...,8,2,5,2,1,0,0,1.57,3.90,7.50
1,11/08/2018,AFC Bournemouth,Cardiff City,2,0,H,1,0,H,K Friend,...,9,7,4,1,1,0,0,1.90,3.60,4.50
2,11/08/2018,Fulham FC,Crystal Palace,0,2,A,0,1,A,M Dean,...,11,5,5,1,2,0,0,2.50,3.40,3.00
3,11/08/2018,Huddersfield Town,Chelsea FC,0,3,A,0,2,A,C Kavanagh,...,8,2,5,2,1,0,0,6.50,4.00,1.61
4,11/08/2018,Newcastle United,Tottenham Hotspur,1,2,A,1,2,A,M Atkinson,...,12,3,5,2,2,0,0,3.90,3.50,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,19/05/2024,Crystal Palace,Aston Villa,5,0,H,2,0,H,D Bond,...,8,2,4,1,4,0,0,1.85,4.33,3.60
2276,19/05/2024,Liverpool FC,Wolverhampton Wanderers,2,0,H,2,0,H,C Kavanagh,...,11,10,2,1,1,0,1,1.17,8.00,15.00
2277,19/05/2024,Luton Town,Fulham FC,2,4,A,1,2,A,M Donohue,...,20,4,4,5,4,0,0,2.90,3.90,2.20
2278,19/05/2024,Manchester City,West Ham United,3,1,H,2,1,H,J Brooks,...,12,11,2,0,1,0,0,1.08,12.00,21.00
2279,19/05/2024,Sheffield United,Tottenham Hotspur,0,3,A,0,1,A,A Madley,...,9,2,6,2,0,0,0,7.00,6.00,1.33

In [10]:
#add the season for each match
start_season = 2018
matches_per_season = 380

# Calculate the total number of seasons
num_seasons = (len(all_seasons) // matches_per_season) + (1 if len(all_seasons) % matches_per_season > 0 else 0)

# Generate the season labels
seasons = [f"{start_season + i}-{start_season + i + 1}" for i in range(num_seasons)]

# Assign the season to each row
all_seasons['season'] = [seasons[i // matches_per_season] for i in range(len(all_seasons))]

# Display the updated DataFrame to check there are 380 (number of games each season)
all_seasons["season"].value_counts()

season
2018-2019    380
2019-2020    380
2020-2021    380
2021-2022    380
2022-2023    380
2023-2024    380
Name: count, dtype: int64

In [11]:
#convert the Date column to datetime type conserving the format
all_seasons["Date"] = pd.to_datetime(all_seasons["Date"], format="%d/%m/%Y")

# Verify the data type change
print(all_seasons.dtypes)

Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG                 int64
HTAG                 int64
HTR                 object
Referee             object
HS                   int64
AS                   int64
HST                  int64
AST                  int64
HF                   int64
AF                   int64
HC                   int64
AC                   int64
HY                   int64
AY                   int64
HR                   int64
AR                   int64
B365H              float64
B365D              float64
B365A              float64
season              object
dtype: object

In [12]:
all_seasons.dtypes

Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG                 int64
HTAG                 int64
HTR                 object
Referee             object
HS                   int64
AS                   int64
HST                  int64
AST                  int64
HF                   int64
AF                   int64
HC                   int64
AC                   int64
HY                   int64
AY                   int64
HR                   int64
AR                   int64
B365H              float64
B365D              float64
B365A              float64
season              object
dtype: object

In [13]:
# changing the seasons to just one to have them as numerical values
all_seasons['season'] = all_seasons['season'].str.split('-').str[0].astype(int)

In [14]:
all_seasons['season'].value_counts()

season
2018    380
2019    380
2020    380
2021    380
2022    380
2023    380
Name: count, dtype: int64

In [15]:
all_seasons.dtypes

Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG                 int64
HTAG                 int64
HTR                 object
Referee             object
HS                   int64
AS                   int64
HST                  int64
AST                  int64
HF                   int64
AF                   int64
HC                   int64
AC                   int64
HY                   int64
AY                   int64
HR                   int64
AR                   int64
B365H              float64
B365D              float64
B365A              float64
season               int64
dtype: object

In [16]:
all_seasons["season"].value_counts()

season
2018    380
2019    380
2020    380
2021    380
2022    380
2023    380
Name: count, dtype: int64

In [17]:
all_seasons.dtypes

Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG                 int64
HTAG                 int64
HTR                 object
Referee             object
HS                   int64
AS                   int64
HST                  int64
AST                  int64
HF                   int64
AF                   int64
HC                   int64
AC                   int64
HY                   int64
AY                   int64
HR                   int64
AR                   int64
B365H              float64
B365D              float64
B365A              float64
season               int64
dtype: object

In [18]:
all_seasons

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,season
0,2018-08-10,Manchester United,Leicester City,2,1,H,1,0,H,A Marriner,...,2,5,2,1,0,0,1.57,3.90,7.50,2018
1,2018-08-11,AFC Bournemouth,Cardiff City,2,0,H,1,0,H,K Friend,...,7,4,1,1,0,0,1.90,3.60,4.50,2018
2,2018-08-11,Fulham FC,Crystal Palace,0,2,A,0,1,A,M Dean,...,5,5,1,2,0,0,2.50,3.40,3.00,2018
3,2018-08-11,Huddersfield Town,Chelsea FC,0,3,A,0,2,A,C Kavanagh,...,2,5,2,1,0,0,6.50,4.00,1.61,2018
4,2018-08-11,Newcastle United,Tottenham Hotspur,1,2,A,1,2,A,M Atkinson,...,3,5,2,2,0,0,3.90,3.50,2.04,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,2024-05-19,Crystal Palace,Aston Villa,5,0,H,2,0,H,D Bond,...,2,4,1,4,0,0,1.85,4.33,3.60,2023
2276,2024-05-19,Liverpool FC,Wolverhampton Wanderers,2,0,H,2,0,H,C Kavanagh,...,10,2,1,1,0,1,1.17,8.00,15.00,2023
2277,2024-05-19,Luton Town,Fulham FC,2,4,A,1,2,A,M Donohue,...,4,4,5,4,0,0,2.90,3.90,2.20,2023
2278,2024-05-19,Manchester City,West Ham United,3,1,H,2,1,H,J Brooks,...,11,2,0,1,0,0,1.08,12.00,21.00,2023
2279,2024-05-19,Sheffield United,Tottenham Hotspur,0,3,A,0,1,A,A Madley,...,2,6,2,0,0,0,7.00,6.00,1.33,2023

In [19]:
all_seasons.to_csv('all_seasons_odds.csv', index=False)

In [20]:
all_seasons.dtypes

Date        datetime64[ns]
HomeTeam            object
AwayTeam            object
FTHG                 int64
FTAG                 int64
FTR                 object
HTHG                 int64
HTAG                 int64
HTR                 object
Referee             object
HS                   int64
AS                   int64
HST                  int64
AST                  int64
HF                   int64
AF                   int64
HC                   int64
AC                   int64
HY                   int64
AY                   int64
HR                   int64
AR                   int64
B365H              float64
B365D              float64
B365A              float64
season               int64
dtype: object

In [21]:
all_seasons["season"].value_counts()

season
2018    380
2019    380
2020    380
2021    380
2022    380
2023    380
Name: count, dtype: int64